.header
  .mainHeader
    .mainHeader_inner  
      ClearAccount
      .mainHeader_inner_right
        .logoutTop
          - if user_signed_in?
            =link_to "ログアウト", destroy_user_session_path, method: :delete
          
            =link_to "/users/#{current_user.id}", class:"mypage" do
              マイページ
          - else     
            =link_to "users/sign_up" ,class:"mypage" do
              新規登録

            =link_to "users/sign_in" ,class:"mypage" do
              ログイン       
       

.main-contents
  ようこそ#{@name}さん
  .main-contents_incomes
    =link_to "incomes/new" ,class:"incomes-btn" do
      収入を入力する
  .main-contents_spendings
    =link_to "spendings/new" ,class:"spendings-btn" do
      支出を入力する
  .todays-information
    =link_to "books/:id/edit" ,class:"todays-information-btn" do
      日付を検索して編集
.side-contents
  .side-contents_budget
    .side-contents_budget_income
      今月の収入予算
      = @income_budget.to_s(:delimited)
      円 
      .current_income
        現在の状況
        = @current_income_view.to_s(:delimited)
        円
      .income_difference
        差額
        = (@income_budget-@current_income_view) * -1
        -# 収入予算より実績が上回っていたら計算式ではマイナスだが、会計上はプラスなので*-1して反転
        円
        
    .side-conyents_budget_spending
      今月の支出予算
      = @spending_budget.to_s(:delimited)
      円
      .current_spending
        現在の状況
        = @current_spending_view.to_s(:delimited)
        円
      .spending_difference
        差額
        = @spending_budget-@current_spending_view
        円
      .total
        収支
        = @current_income_view - @current_spending_view
        円（今月の収入額-今月の支出額状況）
        

