.header
  .mainHeader
    .mainHeader_inner  
      ClearAccount
      .mainHeader_inner_right
        .logoutTop
          - if user_signed_in?
            =link_to "ログアウト", destroy_user_session_path, method: :delete
          
            =link_to "/users/#{current_user.id}", class:"mypage" do
              マイページ
          - else     
            =link_to "users/sign_up" ,class:"mypage" do
              新規登録

            =link_to "users/sign_in" ,class:"mypage" do
              ログイン       
       

.main-contents
  ようこそ#{@name}さん
  .main-contents_incomes
    =link_to "incomes/new" ,class:"incomes-btn" do
      収入を入力する
  .main-contents_spendings
    =link_to "spendings/new" ,class:"spendings-btn" do
      支出を入力する
  .todays-information
    =link_to "books/show" ,class:"todays-information-btn" do
      今日の内容を見る
.side-contents
  .side-contents_budget
    .side-contents_budget_income
      今月の収入予算
      = @income_budget.to_s(:delimited)
      円 
      .current_income
        現在の状況
        = @current_income_view.to_s(:delimited)
        円
        
    .side-conyents_budget_spending
      今月の支出予算
      = @spending_budget.to_s(:delimited)
      円
      .current_spending
        現在の状況
        = @current_spending_view.to_s(:delimited)
        円
-#   .side-contents_current
-#     .side-contents_current_income
-# 　    現在の収入
-#     .side-contents_current_income
-#       現在の支出
 
