.header
  .mainHeader
    .mainHeader_inner  
      ClearAccount   
      .topList
        - if user_signed_in?
          =link_to "ログアウト", destroy_user_session_path, method: :delete
          
          =link_to "/users/#{current_user.id}", class:"mypage" do
            マイページ
        - else     
          =link_to "users/sign_up" ,class:"mypage" do
            新規登録

          =link_to "users/sign_in" ,class:"mypage" do
            ログイン       
       

.main-contents
  .message
    ようこそ#{@name}さん
  .main-contents_incomes
    .main-contents_incomes_link
    =link_to "incomes/new" ,class:"incomes-btn" do
      収入を入力する
  .main-contents_spendings
    .main-contents_spendings_link
    =link_to "spendings/new" ,class:"spendings-btn" do
      支出を入力する
  .main-contents_information
    =link_to "books/:id/edit" ,class:"todays-information-btn" do
      日付を検索して編集
.side-contents
  .side-contents_budget
    .which-month
      #{@this_year}年#{@this_month}月の設定額と状況
    .side-contents_budget_income
      .this-month_budget_income
        収入予算:
        -if @income_budget == nil
          予算は設定されていません
        -else
          = number_to_currency(@income_budget.to_s(:delimited), :unit => "￥") 
      .current_income
        現在の状況: 
        -if @current_income_view == nil
          ¥0
        -else
          = number_to_currency(@current_income_view.to_s(:delimited), :unit => "￥")
      
      .income_difference
        -# もし予算が設定されていなければ、現在の状況をそのまま表示する
        差額:
        -if @income_budget == nil
          = number_to_currency(@current_income_view.to_s(:delimited), :unit => "￥")
        -else
          = number_to_currency((@income_budget - @current_income_view) * -1, :unit => "￥")
        -# 収入予算より実績が上回っていたら計算式ではマイナスだが、会計上はプラスなので*-1して反転
        
    .side-contents_budget_spending
      .this-month_budget_spendings
        支出予算:
        -if @spending_budget == nil
          予算は設定されていません
        -else
          = number_to_currency(@spending_budget.to_s(:delimited), :unit => "￥")
      .current_spending
        現在の状況:
        -if @current_spending_view == nil
          ¥0
        -else
          = number_to_currency(@current_spending_view.to_s(:delimited), :unit => "￥")
      
      .spending_difference     
        -# もし予算が設定されていなければ、現在の状況をそのまま表示する
        差額:
        -if @spending_budget ==  nil
          = number_to_currency(@current_spending_view.to_s(:delimited), :unit => "￥")
        -else
          = number_to_currency((@spending_budget - @current_spending_view), :unit => "￥")
    .total
      収支:
      = number_to_currency((@current_income_view - @current_spending_view), :unit => "￥")
      -# (今月の収入額-今月の支出額状況）
        

